<h1>Ingresando con exito a ddbb</h1>

<%= params %>
<br>
<label>Nombre:</label>
<p><%= params["nombre"] %></p>

<label>Edad:</label>
<p><%= params["edad"] %></p>


<%= link_to 'Volver', '/'  %>